@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-neutral-900;
    @apply text-white;
    min-height: 100vh;
  }

  .container {
    width: calc(100% - 2rem);
    margin: auto;
    padding: 0.75rem;
  }

  a {
    @apply block;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  ol,
  ul {
    list-style: disc;
    list-style-position: inside;
  }

  .card_width {
    max-width: calc(100vw - 2.5rem);
  }

  .card_desc {
    overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 3; /* number of lines to show */
           line-clamp: 3; 
   -webkit-box-orient: vertical;
   text-align: justify;
  }
}